.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #3B3D50;
}
h1, h2, h3{
  line-height: 1.2;
}
.event-content{
  border-radius: 23px;
  text-align: left;
  height: 10rem;
  padding: 1.5rem;
  color: white;
  width: 70%;
  transition: transform 0.3s;
  overflow: hidden;
}
.event-content:hover, .date:hover{
  transform: scale(1.05);
  transition: transform 0.3s;
  cursor: pointer;
}
h2{
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
}
.event-list{
  display: flex;
  flex-direction: column;
  padding: 5rem
}
.start{
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("src/assets/gc.webp");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}
.start-content{
  width: 60%;
  margin: auto;
}
.events-btn{
  background-color: #9cf1b0;
  border: none;
  margin: 60px;
  border-radius: 36px;
  padding: 20px 70px;
  font-size: 25px;
  box-shadow:  0px 0px 20px 5px rgba(0, 0, 0, 0.25);
}
.events-btn:hover{
  opacity: 0.9;
  cursor: pointer;
}
.events-btn:active{
  box-shadow: none;
  transform: translateY(1px); 
}
.date{
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: #6ACE74;
  text-align: center;
  margin: auto 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-top: 1.7rem;
  justify-content: center;
  line-height: 2rem;
  transition: transform 0.3s;
}
.event{
  display:grid;
  grid-template-columns: 5fr 1fr 5fr;
  
}
.right-event{
  direction: rtl;
}
.empty{
  width: 70%;
}
.timeline{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vertical{
  width: 1rem;
  height: 100%;
}
@media only screen and (min-width : 650px) and (max-width : 849px){
  .start-content{
    width: 85%
  }
  .empty{
    width: 0;
  }
  .event{
    display: flex;
    flex-direction: row-reverse;
  }
  .right-event{
    direction: initial;
  }
  .event-content{
    margin: 1rem;
  }
}
@media only screen and (min-width : 850px) and (max-width : 1150px){
  .event-content, .empty{
    width: 90%;
  }
}
@media only screen and (max-width : 649px){
  .start-content{
    width: 90%
  }
  .empty{
    width: 0;
    height: 0;
  }
  .event{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .vertical{
    height: 3rem;
  }
  .event-content{
    width: 100%;
  }
  .events-btn{
    padding: 1rem 2rem;
  }
}