.header{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0F2E4B;
}
  .logo{
    margin: 10px;
    border-radius: 50%;
    height: 45px;
  }
  .nav-links{
    margin: 10px;
    display: flex;
  }
  .link{
    margin: 10px;
    color: #B5B4B4;
    text-decoration: none;
    font-size: 16px;
  }
  .link::after{
    content : '';
    width: 0%;
    height: 3px;
    background-color: #C63A34;
    display: block;
    transition: 0.4s;
  }
  .link:hover::after{
    width : 100%
  }
  .active {
    color: white;
  }
  .footer{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: fit-content;
    background-image:linear-gradient(rgba(233, 212, 212, 0.477), rgba(233, 212, 212, 0.477)), url('../assets/footer.jpeg');
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    overflow: hidden;
  }
  p {
    margin: 0;
    font-weight: 500;
  }
  .nav-events{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
    margin: 10px;
    align-items: center;
    z-index: 0;
  }
  .nav-events:focus-within .event-links{
    display: flex;
    flex-direction: column;
  }
  .nav-events:hover .event-links{ 
    opacity: 1;
    transform: translateY(0%);
    height: max-content;
    transition: all 0.4s ease-in-out;
  }
  .eve-link {
    padding: 10px;
    padding-right: 3rem;
    margin: 0;
    
  }
  .event-links{
    height: 0;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    left : -7px;
    text-align: left;
    background-color: #0F2E4B;
    width: max-content;
    margin-left: 0;
    padding-top: 10px;
    z-index: 1;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
    
  }
p.link:hover{
    opacity: 1;
    cursor:pointer
}
.eve-link:hover{
  opacity: 1;
}
.mail{
  color: black;
  font-weight: 500;
}
.mobile{
  display: none;
}
@media only screen and (max-width : 649px){
  
  .footer{
    display: flex;
    flex-direction: column;
  }
  .footer img{
    margin: 20px;
  }
}
.link.active::after{
  content : '';
  width: 100%;
  height: 3px;
  background-color: #C63A34;
  display: block;
  
}
.menu{
  position: fixed;
  width: 0;
  right: 0;
  top : 4rem;
  padding: 0;
  min-height: 100vh;
  background-color: #0F2E4B;
  transition : 0.5s;
}

.menu.active{
  width: 60%; 
  display: flex;
  flex-direction: column;
  transition : 0.5s
}
.links {
  flex-direction: column;
  white-space: nowrap;
  margin: 2rem 3rem 0 1.5rem;
}
@media only screen and (max-width : 599px){
  .link:hover::after{
    width : 70%
  }
  .link.active::after{
    width: 70%;
  }
  .nav-links{
    display: none;
  }
  .mobile{
    display: flex;
    flex-direction: column;
  }
  .nav-events p{
    z-index: 0;
    text-align: left;
  }
  .event-links{
    position: relative;
    margin-left: 1.5rem;
  }
  .eve-link{
    margin: 0;
  }
}