body {
  padding: 0;
  margin: 0;
}

:root {
  padding: 0;
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.header{
  width: 100%;
  justify-content: space-between;
  background-color: #0F2E4B;
}
.logo{
  border-radius: 50%;
  height: 30px;
}